*.DS_Store

# Keep only our theme + mu-plugin; ignore everything else.
*
!.github/
!.github/workflows/
!.github/workflows/deploy.yml
!.github/workflows/deploy-staging.yml
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/hello-elementor-child-tpb/**

!wp-content/mu-plugins/
wp-content/mu-plugins/*
!wp-content/mu-plugins/tpb-quickview/**

# Node/vendor junk just in case
node_modules/
vendor/
